*{
    box-sizing: border-box;
}

body{
    font-family: Arial;
    line-height: 25px;
}

div#wrap, footer{
    margin: auto;
    width: 1000px;
    background-color: rgb(251,235,235);
    padding: 20px;
}

nav{
    margin-top: 20px;
    margin-bottom: 20px;
}

nav a{
    margin-right: 20px;
}

section.appel, section.fotos{
    width: 50%;
    float:left;

}
section.fotos{
    text-align: right;
}

img.appel{
    width: 493px;
}

img.foto{
    width: 450px;
    margin-bottom: 10px;
}
article{
    display:inline-block;
    width:33%;
    padding-right: 15px;
    vertical-align: top;
}

article:last-child{
    padding-right: 0px;
}
img.article{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 303px;
}

footer{
    background-color: rgb(166,166,166);
    color: white;
}

footer a{
    color: white;
}